.Title-beyond {
  text-align: center;
  font-size: 3.5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 9rem;
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.Title-beyond::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  background: linear-gradient(90deg, #6b46c1, #805ad5);
  transition: all 0.5s ease;
  transform: translateX(-50%);
}
.Title-beyond:hover::after {
  width: 200px;
}

.beyond {
    display:  flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    height: 100vh; /* Adjust as needed */
    background-color:rgb(255, 250, 250); /* Dark theme for a gaming vibe */
  }
  
  .image-container {
    perspective: 1000px;
    transition: transform 0.3s ease-in-out;
  }
  
  .image-container img {
    width: 300px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease-in-out;
  }
  
  .image-container:hover img {
    transform: rotateY(15deg) rotateX(10deg) scale(1.05);
  }
  .beyond-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    align-items: flex-start;
  }
  
  .beyond-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    text-align: center;
  }
  
  .beyond-description {
    margin-top: 10px;
    font-size: 1rem;
    color: white;
  }