.Title {
    text-align: center;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 9rem;
    margin-left: 10%;
    letter-spacing: 2px;
}